.quoteBox__btn {
    display: grid;
    margin: 0 auto;
    padding: 5px 8px;
    border-radius: 100%;
    width: 13%;
    height: 11%;
    margin-top: 15px;
    box-sizing: content-box 100px;   
    font-size: 2.5rem;
    color: rgb(92, 50, 133);
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.quoteBox {
    overflow-y: scroll;
    min-height:max-content;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    display: grid;
    color:rgb(87, 54, 117);
    font-family: 'Creepster', cursive;
}

.quoteBox::-webkit-scrollbar {
    display: none;
}

.bgColor {
    background: linear-gradient(
        180deg,
        rgba(247, 247, 247, 1) 12%,
        rgba(255, 255, 255, 0.2) 84%
      );
      background-blend-mode: normal;
      padding: 5% 10%;
      height: 80%;
      box-sizing: content-box 100px;

}

.quoteContainer {
    display: flex;
    height: 45%;
    flex-direction: column;
    overflow: hidden;
    height: min(100%, 500px);
    padding: 0 10px;
}
