.app {
    background-image: url(/public/Images/space1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.app.space1 {
    background-image: url(/public/Images/space1.jpg);
}

.app.space2 {
    background-image: url(/public/Images/space2.jpg);
}

.app.space3 {
    background-image: url(/public/Images/space3.jpg);
}

.app.space4 {
    background-image: url(/public/Images/space4.jpg);
}

.app__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-items: center;
    width: min(100%, 500px);
    padding: 0 10px;
}

footer {
    margin-bottom: 10px;
    
}




