@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  text-shadow: 4px 3px 5px rgba(102,78,143,.92);
}

h1,
p {
  font-family: Creepster,cursive;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px black;
  }
}

.space1 {
  background-image: url(../public/Images/space1.jpg)
}

.space2 {
  background-image: url(../public/Images/space2.jpg)
}

.space3 {
  background-image: url(../public/Images/space3.webp)
}

.space4 {
  background-image: url(../public/Images/space4.webp)
}